<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="/static/main/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-links">
            <a href="{% url 'home' %}">Главная</a>
            {% if request.session.jwt_token %}
                <a href="{% url 'logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>